name: Build

on:
  push:
    branches:
      - master
    tags:
      - "*"

  workflow_dispatch:

concurrency:
  group: build
  cancel-in-progress: true

jobs:
  deploy:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      id-token: write
    steps:
      - uses: wxn0brP/rusalka@master
        with:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

  cdn:
    runs-on: ubuntu-latest
    needs: deploy
    permissions:
      contents: write
      id-token: write

    steps:
      - uses: actions/checkout@v6
      - uses: oven-sh/setup-bun@v2

      - name: Build
        run: |
          bun install
          bun build ./src/valthera.ts --outdir dist --minify --sourcemap
          mv -f package.cdn.json package.json

      - name: Prepare and Push to Target Branch
        run: |
          git config user.name "github-actions[bot]"
          git config user.email "github-actions[bot]@users.noreply.github.com"

          BRANCH="cdn-dist"
          git checkout --orphan "$BRANCH"
          git reset -q HEAD --

          git add -f -A dist package.json
          git commit -m "Deploy to CDN"
          git push origin "$BRANCH" --force

          if [[ "$GITHUB_REF" == refs/tags/* ]]; then
            TAG_REF="${GITHUB_REF##refs/tags/}"
            VERSIONED_BRANCH="$BRANCH-${TAG_REF}"
            git checkout -b "$VERSIONED_BRANCH"
            git push origin "$VERSIONED_BRANCH" --force
          fi
