name: Build

on:
  push:
    branches:
      - master
    tags:
      - "*"

  workflow_dispatch:

concurrency:
  group: build
  cancel-in-progress: true

jobs:
  deploy:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      id-token: write
    steps:
      - uses: wxn0brP/rusalka@master
        with:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

  cdn:
    uses: wxn0brP/workflow-dist/.github/workflows/build-ts.yml@main
    with:
      files: "cdn-dist package.json"
      branch: "cdn-dist"
      customCommands: |
        cd cdn
        npm i
        node index.js
        cd ..
        mkdir cdn-dist
        mv cdn/dist/* cdn-dist
        mv -f cdn/package.cdn.json package.json
